.navbar-sub-detail {
  height: calc(100vw * 0.75);
}
@include media-breakpoint-up($size-tablet) {
  .navbar-sub-detail {
    height: 540px;
  }
}
.bg.bg_detail {
  > div {
    height: calc(100vw * 0.75);
  }
}
@include media-breakpoint-up($size-tablet) {
  .bg.bg_detail {
    > div {
      height: 540px;
    }
  }
}

.detail-card {
  position: relative;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin: -60px auto 24px;
  padding: 14px;
  .card-name {
    position: relative;
    height: 104px;
    padding-left: 114px;
    margin-bottom: 18px;
    .app-icon {
      position: absolute;
      top: 0;
      left: 0;
      .badge-homelearn {
        position: absolute;
        top: -7px;
        left: 10px;
        width: 48px;
      }
      .badge-package {
        position: absolute;
        top: -7px;
        left: 58px;
        width: 38px;
      }
      .badge-free {
        position: absolute;
        top: 60px;
        right: -5px;
        width: 54px;
      }

    }
    .title {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      color: #111111;
      margin-bottom: 2px;
    }
    .company {
      font-size: 14px;
      line-height: 1.43;
      margin-bottom: 8px;
    }
    .star {
      line-height: 16px;
      > img {
        height: 16px;
      }
      span {
        vertical-align: baseline;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        color: #999999;
      }
    }
  }
  .card-spec {
    position: relative;

    & + .card-btn {
      margin-top: 10px;
    }

    .spec {
      width: 50%;
      float: left;
      margin-bottom: 12px;

      .tit {
        font-size: 12px;
        font-weight: bold;
        color: #999999;
        display: block;
        margin-bottom: 2px;
      }
      .desc {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.43;
        color: #333333;
        display: block;
      }
    }
  }
  .card-price {
    border-top: 2px solid rgba(224, 224, 224, 0.5);;

    padding-top: 20px;
    margin-bottom: 22px;

    .state {
      font-size: 14px;
      text-align: center;
      color: #333333;
      display: block;
      margin-bottom: 18px;
    }
    .total_price {
      position: relative;
      text-align: center;
      display: block;
      .plan {
        color: #333333;
      }
      .price {
        font-size: 20px;
        font-weight: bold;
        text-align: right;
        color: #333333;
        margin: 0 10px;
      }
      .range {
        font-size: 14px;
        line-height: 1.29;
        text-align: right;
        color: #666666;
      }
    }
  }
  .card-btn {
    margin-bottom: 10px;

    .btn {
      width: 142px;
      min-width: 0;

      &:first-child {
        margin-right: 4px;
      }

      &.btn-subscribe {
        color: #ff7600;
        background-color: rgba(255, 118, 0, 0.3);
        border: 0;
      }
    }

    &.please {
      .info {
        position: absolute;
        bottom: 85px;
        right: 18px;
        width: 284px;
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.12);
        border: solid 2px #ff6e00;
        background-color: #ffffff;
        border-radius: 12px;
        padding: 24px 10px 15px 10px;

        .desc {
          display: block;
          text-align: center;
          margin-bottom: 18px;
        }

        .btn {
          width: 126px;
          padding: 0;

          &.btn-outline {
            margin-right: 4px;
          }
        }

        &:after {
          content: "";
          position: absolute;
          bottom: -11px;
          right: 55px;
          width: 20px;
          height: 20px;
          border-top: solid 2px #ff6e00;
          border-left: solid 2px #ff6e00;
          background-color: #ffffff;
          transform: rotate(225deg);
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .detail {
    width:1112px;
    border-radius: 12px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin: -110px auto 72px;
    padding: 42px;
  }
  .detail-card {
    width:auto;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    margin: 0;
    padding: 0;

    .card-name {
      position: relative;
      height: 200px;
      padding-left:216px;
      margin-bottom: 40px;

      .app-icon {
        width: 196px;
        height: 196px;
        > img {
          width: 196px;
          height: 196px;
        }

        .badge-homelearn {
          left: 46px;
          width: 80px;
        }

        .badge-package {
          left: 129px;
          width: 63px;
        }

        .badge-free {
          top: 134px;
          width: 76px;
        }

      }

      .title {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.13;
        color: #111111;
      }

      .company {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 8px;
      }

      .star {

        line-height: 20px;
        > img {
          height: 20px;
        }
        span {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.38;
        }
      }
    }

    .card-spec {
      position: absolute;
      top: 134px;
      left: 206px;
      border-bottom: none;
      width: 400px;

      .spec {
        width: auto;
        margin-bottom: 12px;
        position: relative;
        margin-right: 20px;
        margin-left: 20px;
        &:after {
          content: "";
          width: 2px;
          height: 40px;
          background-color: #e0e0e0;
          position: absolute;
          top: 0;
          left: -20px;
        }
        &:first-child:after {
          display: none;
        }
        .tit {
          font-size: 14px;
          font-weight: bold;
          color: #999999;
          display: block;
          margin-bottom: 2px;
        }

        .desc {
          font-size: 16px;
          font-weight: bold;
          display: block;
        }
      }
    }

    .card-price {
      padding-top: 0;
      margin-bottom: 0;
      position: absolute;
      top: 0;
      right: 0;
      width: 312px;
      border-top: 0 none;

      .state {
        font-size: 16px;
        margin-bottom: 28px;
      }

      .total_price {
        position: relative;
        text-align: center;
        display: block;

        .plan {
          font-size: 16px;
        }

        .range {
          font-size: 16px;
        }
      }
    }

    .card-btn {
      position: absolute;
      top: 126px;
      right: 0;

      .btn {
        width: auto;
        padding: 0 24px;
        min-width: 0;
        font-size: 18px;

        &.btn-primary {
          min-width: 180px;
        }

        &:first-child {
          margin-right: 4px;
        }
      }

      &.please {
        .info {
          position: absolute;
          bottom: 80px;
          right: -84px;
          width: 346px;
          padding: 36px 24px 24px;

          .desc {
            margin-bottom: 24px;
            font-size: 20px;
            line-height: 1.4;
            color: #333333;
          }

          .btn {
            width: 143px;
            min-width: 0;
          }

          &:after {
            right: 160px;
          }
        }
      }
    }
  }

}

.detail-page {
  position: relative;
  .detail-article {
    margin-bottom: 24px;
    .title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      color: #333333;
      margin-bottom: 12px;
    }
    .img {
      margin-bottom: 12px;
    }
    .desc {
      font-size: 14px;
      line-height: 1.57;
      color: #666666;
    }
  }
  .detail-hr {
    height: 2px;
    background-color: rgba(224, 224, 224, 0.5);
    margin-bottom: 24px;
    margin-top: 0;
    border: none;
  }
}
@include media-breakpoint-up($size-tablet) {
  .detail-page {
    border-top: 2px solid rgba(224, 224, 224, 0.5);
    padding-top: 16px;
    .detail-article {
      margin-bottom: 60px;
      .title {
        font-size: 18px;
      }
      .img {
        margin-bottom: 12px;
      }
      .desc {
        font-size: 16px;
        line-height: 1.6;
      }
    }
    .detail-hr {
      margin-bottom: 30px;
    }
  }
}


.sticky-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background-color: rgba(255, 118, 0, 0.98);
  text-align: center;
  padding: 10px;
  z-index: 1000;

  .btn {
    width: 156px;
    min-width: 0;
    height: 48px;

    &.btn-subscribe {
      background-color: rgba(255, 255, 255, 0.3);
      color: #ffffff;
    }
  }

  .btn-white {
    border-radius: 27px;
    border: solid 2px #ffffff;
  }
}

@include media-breakpoint-up($size-tablet) {
  .sticky-btn {
    height: 82px;
    padding: 14px;
    .cont {
      width: 1112px;
      margin: 0 auto;
      text-align: right;
    }
    .btn {
      width: 120px;
      min-width: 0;
      height: 54px;
      line-height: 50px;

      &.btn-outline {
        width: 180px;
      }
    }
  }
}


/**
리뷰 탭
 */
.review-wrap {
  position: relative;
  .review-rate {
    position: relative;
    text-align: center;
    margin-bottom: 30px;

    .rate {
      font-size: 48px;
      font-weight: bold;
      line-height: 1.08;
      color: #333333;
    }

    .star {
      height: 24px;
      margin-bottom: 12px;
    }

    .review-btn {
      .btn {
        width: 166px;
        min-width: 0;
      }
    }
  }
  .review-count {
    position: relative;

    .summary {
      position: relative;
      width: 100%;
      padding: 12px;
      font-size: 14px;
      text-align: center;
      color: #ffffff;
      line-height: 38px;
      background-color: #42c2d1;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 30px;

      &:after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: #42c2d1;
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        transform: rotate(45deg);
      }
    }

    .count {
      > div {
        height: 20px;
        margin-bottom: 12px;
        position: relative;

        padding-right: 115px;

        .graph {
          position: relative;
          height: 8px;
          border-radius: 4px;
          background-color: #f0f0f0;
          display: inline-block;
          width: 100%;
          line-height: 8px;
          margin-top: 10px;

          .bar {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
            background-color: #42c2d1;
            display: inline-block;
            height: 8px;
          }
        }

        .num {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 12px;
          font-weight: bold;
          line-height: 2.5;
          text-align: right;
          color: #999999;

          &.best {
            color: #42c2d1;
          }
        }

        .grade {
          position: absolute;
          top: 0;
          right: 64px;
          font-size: 12px;
          font-weight: bold;
          line-height: 2.5;
          text-align: right;
          color: #666666;

          &.best {
            color: #42c2d1;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up($size-tablet) {
  .review-wrap {
    height: 200px;
    padding-right: 300px;
    padding-left: 46px;
    .review-rate {
      position: absolute;
      right: 46px;
      top: 0;
      width: 166px;
      .rate {
        font-size: 66px;
        font-weight: bold;
        color: #333333;
        line-height: 0.88;
      }
    }
    .review-count {
      width: 700px;
      position: relative;
      padding-left: 262px;
      .summary {
        position: absolute;
        top: 4px;
        left: 0;
        width: 236px;
        height: 148px;
        padding: 30px 28px;
        font-size: 24px;
        line-height: 1.17;
        color: #ffffff;
        text-align: left;
        &:after {
          content: "";
          bottom: auto;
          top: 50%;
          margin-top: -10px;
          left: auto;
          right: -10px;
        }
      }

      .count {
        > div {
          .num {
            font-size: 14px;
            line-height: 30px;
            color: #999999;
          }

          .grade {
            font-size: 16px;
            line-height: 30px;
          }
        }
      }
    }
  }
}


.review-reply {
  border-top: 2px solid rgba(224, 224, 224, 0.5);
  padding-top: 24px;

  .reply-desc {
    font-size: 14px;
    line-height: 1.43;
    color: #333333;
    margin-bottom: 16px;
  }

  .sort {
    text-align: right;
    margin-bottom: 20px;

    a {
      font-size: 14px;
      color: #666666;
      padding-left: 10px;
      margin-left: 8px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        width: 2px;
        height: 14px;
        background-color: #d8d8d8;
      }

      &:first-child:after {
        display: none;
      }

      &.active {
        color: #ff7600;
        font-weight: bold;
      }
    }
  }

  .list-wrap {
    clear: both;
    .list {
      padding-bottom: 20px;
      border-bottom: 2px solid rgba(224, 224, 224, 0.5);
      margin-bottom: 20px;

      .article {
        position: relative;
        margin-bottom: 16px;

        .name {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.43;
          color: #666666;
          margin-bottom: 4px;
        }

        .rating {
          line-height: 20px;
          margin-bottom: 10px;

          .star {
            vertical-align: middle;

            img {
              vertical-align: top;
            }
          }

          .date {
            vertical-align: baseline;
          }

          .desc {
            font-size: 14px;
            line-height: 1.43;
            color: #666666;
          }
        }
      }

      .reply {
        border-radius: 4px;
        background-color: #eeefed;
        padding: 14px 12px;
        margin-bottom: 16px;

        .name {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.43;
          color: #333333;

          .date {
            font-size: 12px;
            font-weight: normal;
            line-height: 1.33;
            color: #666666;
            margin-left: 6px;
          }
        }

        .desc {
          font-size: 14px;
          line-height: 1.43;
          color: #666666;
        }
      }

      &:last-child {
        border-bottom: 0 none;
      }
    }
  }
}
@include media-breakpoint-up($size-tablet) {
  .review-reply {
    border-top: 2px solid rgba(224, 224, 224, 0.5);
    padding-top: 24px;

    .reply-desc {
      font-size: 24px;
      font-weight: normal;
      line-height: normal;
      color: #666666;
      float: left;
      span {
        font-weight: bold;
        color: #333333;
      }
    }

    .sort {
      text-align: right;
      margin-bottom: 20px;
      float: right;

      a {
        font-size: 16px;
        padding-left: 14px;
        margin-left: 12px;

        &:after {
          top: 5px;
        }
      }
    }

    .list-wrap {
      padding-top: 30px;
      .list {
        position: relative;
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(224, 224, 224, 0.5);
        margin-bottom: 20px;
        .article {

          .name {
            font-size: 15px;
            font-weight: bold;
            line-height: 1.47;
            color: #666666;
          }

          .rating {
            margin-bottom: 12px;
            .star {
              img {
                width: 20px;
                height: 20px;
              }
            }

            .date {
              font-size: 14px;
              line-height: 1.57;
              color: #666666;
            }

            .desc {
              font-size: 16px;
              line-height: 1.38;
              color: #666666;
            }
          }
        }

        .reply {

          .name {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.38;
            color: #333333;

            .date {
              font-size: 14px;
              line-height: 1.57;
              color: #666666;
            }
          }

          .desc {
            font-size: 16px;
            line-height: 1.38;
            color: #666666;
          }
        }

        .help {
          position: absolute;
          top: 0;
          right: 0;
          .btn {
            width: 242px;
            height: 40px;
            line-height: 38px;
            font-size: 16px;
          }

        }

      }
    }
  }
}
