/*
  event
*/
.shadow-box-list {
  &.event {
    .card-list {
      .card-item {
        width: 100%;
        margin-bottom: 18px;
        .title {
          font-size: 14px;
          font-weight: bold;
          color: #333333;
          margin-bottom: 2px;
        }
        .title-sm {
          font-size: 12px;
          font-weight: bold;
          color: #999999;
        }
        &.disabled {
          a {
            cursor: default;
          }
          .img {
            position: relative;
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              background-color: rgba(255,255,255,.6);
            }
          }
          .title {
            color: #999999;
          }
          .title-sm {
            color: $primary;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up($size-tablet) {
  .shadow-box-list {
    &.event {
      .card-list {
        &.card-list-md-2 {
          .card-item {
            width: calc(50% - 16px);
            margin-right: 32px !important;
            margin-bottom: 30px;
            &:nth-child(2n) {
              margin-right: 0 !important;
            }
          }
        }
        .card-item {
          .title {
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 6px;
          }
          .title-sm {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -1px;
          }
        }
      }
    }
  }
}

.event.empty {
  padding-top: 36px;
  padding-bottom: 20px;
  > .img {
    display: block;
    text-align: center;
    margin: 0 auto 12px;
  }
  > .desc {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #666666;
  }
}
@include media-breakpoint-up($size-tablet) {
  .event.empty {
    padding-top: 100px;
    padding-bottom: 84px;
    > .img {
      width: 120px;
      height: 120px;
    }
    > .desc {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

/*
  이용 약관
*/
.terms-of-service {
  padding-bottom: 20px;
  p {
    font-size: 12px;
    line-height: 18px;
  }
}
@include media-breakpoint-up($size-tablet) {
  .terms-of-service {
    width: 100%;
    padding: 36px 54px;
    border-radius: 12px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-top: 30px;
    p {
      font-size: 14px;
      line-height: normal;
    }
  }
}
