.member {

  width: 100%;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  margin: 0 auto;

  .title {
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #333333;
  }

  .btn-check {
    min-width: 100px;
  }

  &.login {
    position: relative;

    .title {
      font-size: 20px;
      line-height: 1.2;
      font-weight: bold;
      text-align: center;
      color: #333333;
      margin-bottom: 18px;
    }

    .util-group {
      text-align: center;
      a {
        font-size: 16px;
        padding: 0 20px;
        font-weight: normal;
        color: #666666;
        position: relative;
        line-height: 1.8;

        &:before {
          content: "";
          width: 1px;
          height: 12px;
          background-color: #dddddd;
          position: absolute;
          top: 5px;
          left: 0;
        }
        &:first-child:before {
          display: none;
        }
        &.last:before {
          display: none;
        }


      }
    }
  }

  &.findidpw {
    .timer {
      position: absolute;
      top: 11px;
      right: 115px;
      height: 20px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.43;
      text-align: right;
      color: #ff0000;
    }
  }

  &.result {
    .desc {
      height: 44px;
      border-radius: 4.8px;
      background-color: #f5f7f4;
      text-align: center;

      span {
        height: 20px;
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        line-height: 44px;
      }
    }

    .empty {
      p {
        text-align: center;
        line-height: 1.6;
      }
    }
  }
}

.sns_login {
  position: relative;
  margin: 0 auto;
  width: 100%;

  .title {
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    color: #333333;
  }

  .btn-sns {
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      margin: 0 12px;

      a {
        display: block;
        width: 48px;
        height: 48px;
      }
    }
  }
}


@include media-breakpoint-up($size-tablet) {
  .member {
    width: 680px;
    border-radius: 12px;
    box-shadow: 0 9px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 28px 60px;

    .title {
      font-size: 20px;
      line-height: 1;
    }

    .form-group:not(.w100p) {
      &:after {
        display: block;
        clear: both;
        content: "";
      }
      label {
        position: absolute;
        top: 0;
        left: 0;
        width: 118px;
        line-height: 56px;
        margin-bottom: 0;
      }


      > .form-control {
        margin-left: 136px;
        width: calc(100% - 136px);
      }
      > .input-group {
        margin-left: 136px;
        width: calc(100% - 136px);
        .btn {

        }
      }
      .text {
        margin-left: 136px;
        width: calc(100% - 136px);
      }
    }


    &.login {
      .title {
        line-height: 1.5;
        font-size: 24px;
      }

      .util-group {
        br {
          display: none;
        }
        a {
          font-size: 14px;
          padding: 0 14px;
          font-weight: normal;

          &:before {
            content: "";
            width: 2px;
            height: 16px;
            background-color: #dddddd;
            position: absolute;
            top: 3px;
            left: 0;
          }
          &.last:before {
            display: block;
          }

        }
      }
    }


    &.findidpw {
      .title {
        br {
          display: none;
        }
      }
      .timer {
        top: 16px;
        right: 145px;
      }

      .btn-check {
        width: 124px;
      }
    }


    &.result {
      .desc {
        height: 60px;
        span {
          line-height: 60px;
          font-size: 20px;
        }
      }

      .empty {
        p {
          font-size: 20px;
        }
      }
    }



  }
  .sns_login {
    width: 680px;

    .title {
      font-size: 18px;
      font-weight: bold;
      line-height: 2;
    }

    .btn-sns {

      li {
        margin: 0 40px;

        a {
          width: 80px;
          height: 80px;
        }
      }
    }
  }

}
