.bg-grey {
  background-color: #EFEFEF;
  border-color: #EFEFEF;
}

.bg-disable {
  background-color: #eeeeee !important;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.align-sub {
  vertical-align: sub !important;
}

.tr-y-2 {
  transform: translateY(2px);
}

.color-text {
  color: #333 !important;
}

.color-text2 {
  color: #666 !important;
}

.color-secondary {
  color: $secondary;
}

/* 학습중 라벨 */
.badge-list {
  display: inline-block;
  height: 18px;
  background-color: $color-1;
  padding: 0 7px;
  border-radius: 8px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  font-size: 10px;
}
@include media-breakpoint-up($size-tablet) {
  .badge-list {
    position: absolute;
    right: 8px;
    bottom: 0;
    padding: 0 10px;
    border-radius: 12px;
    height: 24px;
    line-height: 24px;
    min-width: 62px;
    font-size: 14px;
  }
}

/* scroll 영역 */
.scroll-wrap {
  overflow: auto;

  .scroll {
    overflow: hidden;
  }
}
@include media-breakpoint-up($size-tablet) {
  .scroll-wrap {
    overflow: visible;

    .scroll {
      width: auto !important;
      height: auto;
      overflow: visible;
    }
  }
}

/* 리스트 단 별 클래스 분리 */
.card-list {
  /* 2단 */
  &.card-list-2 {
    .card-item {
      float: left;
      width: 256px;
      margin-right: 18px;
    }
  }
  /* 3단 */
  &.card-list-3 {
    .card-item {
      float: left;
      width: 256px;
      margin-right: 18px !important;
    }
  }
  /* 4단 */
  &.card-list-4 {
    .card-item {
      float: left;
      width: 146px;
      margin-right: 18px;
    }
  }
  /* 5단 */
  &.card-list-5 {
    .card-item {
      float: left;
      width: 146px;
      margin-right: 18px;
    }
  }

  &.card-list-md-2 {
    .card-item {
      float: left;
      width: calc(50% - 6px);
      margin-right: 12px;

      &:nth-child(2n) {
        margin-right: 0 !important;
      }
    }
  }

  .card-item {
    &:last-child {
      margin-right: 0 !important;
    }
  }
}
@include media-breakpoint-up($size-tablet) {
  .card-list {
    position: relative;
    /* 1단 */
    .card-item {
      width: 100%;

      &:last-child {
        margin-right: 0 !important;
      }
    }
    /* 2단 */
    &.card-list-2 {
      .card-item {
        width: calc(50% - 16px) !important;
        margin-right: 32px;
      }
    }
    /* 3단 */
    &.card-list-3 {
      .card-item {
        width: calc(33.33% - 12px);
        margin-right: 18px;
      }
    }
    /* 4단 */
    &.card-list-4 {
      .card-item {
        width: calc(25% - 20px);
        margin-right: 26px;
      }
    }
    /* 5단 */
    &.card-list-5 {
      .card-item {
        width: calc(20% - 39px) !important;
        margin-right: 48px !important;
      }
    }

    &.card-list-md-2 {
      .card-item {
        width: auto;
        margin-right: 12px;

        &:nth-child(2n) {
          margin-right: 48px !important;
        }
      }
    }

    /* pc에서 3단 */
    &.card-list-md-3 {
      .card-item {
        float: left;
        width: calc(33.33% - 12px);
        margin-right: 18px;

        &:nth-child(3n) {
          margin-right: 0 !important;
        }
      }
    }

    /* pc에서 5단 */
   &.card-list-md-5 {
     .card-item {
       width: calc(20% - 39px);
       margin-right: 48px !important;

       &:nth-child(5n) {
         margin-right: 0 !important;
       }
     }
   }
  }
}

/* 이벤트 리스트 */
.event-box {
  padding: 0 20px;
  margin-bottom: 60px;

  .link-title {
    margin-bottom: 14px;

    i.btn-tag-more-arrow-n {
      vertical-align: sub;
      transform: translateY(1px);
    }
  }

  .card-list {
    > ul {
      .card-item {
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .card-item {
      .img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &.card-list-2 {
      .card-item {
        height: auto;

        width: 320px;
        .img {
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .more-btn-lg {
    margin-bottom: 60px;
  }
}
@include media-breakpoint-up($size-tablet) {
  .event-box {
    padding: 0 20px;
    margin-bottom: 60px;

    .link-title {
      margin-bottom: 24px;

      i.btn-tag-more-arrow-n {
        vertical-align: sub;
        transform: translateY(1px);
      }
    }

    .card-list {
      > ul {
        .card-item {
          margin-bottom: 0;
          padding-bottom: 36px;

          &:last-child {
            margin-bottom: 0;
          }

          .img {
            margin-bottom: 0;
          }
        }
      }

      .card-item {
        &:last-child {
          margin-right: 0 !important;
        }
      }
    }

    .more-btn-lg {
      margin-bottom: 72px;
    }
  }
}

/* 배너 리스트 */
.banner-box {
  padding: 0 20px;
  margin-bottom: 50px;

  .card-list {
    height: auto;
    border-radius: 16px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;

    .img {
      width: 100%;
      height: auto;
      border-radius: 16px 16px 0 0;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .card-body {
      padding: 12px 14px;

      .desc {
        position: relative;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: normal;
        color: #999999;
        margin-bottom: 4px;

        .badge-list {
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      .title {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        color: #333333;
        margin-bottom: 2px;
      }

      .title-sm {
        font-size: 12px;
        font-weight: normal;
        line-height: 1.5;
        color: #333333;
        margin-bottom: 4px;
      }

      .desc-sm {
        font-size: 12px;
        font-weight: normal;
        line-height: 18px;
        color: #999999;
      }
    }
  }
}
  /* 769~960 겹침 현상 대응 */
@media (min-width: 769px) and (max-width: 960px) {
  .banner-box {
    .card-list {
      .img {
        float: none !important;
        width: 100% !important;
        border-radius: 16px 16px 0 0 !important;
      }

      .card-body {
        float: none !important;
        width: 100% !important;
        padding: 12px 14px !important;

        .title {
          font-size: 16px !important;
          line-height: 22px !important;
          margin-bottom: 2px !important;
        }

        .desc {
          position: relative !important;
          font-size: 12px !important;

          .badge-list {
            position: absolute;
            right: 0;
            top: 0;
          }
        }

        .title-sm {
          font-size: 12px !important;
          margin-bottom: 4px !important;
        }

        .desc-sm {
          font-size: 12px !important;
        }
      }
    }
  }
}
@include media-breakpoint-up($size-tablet) {
  .banner-box {
    .card-list {
      .img {
        float: left;
        width: 50%;
        border-radius: 16px 0 0 16px;
        margin-bottom: 0 !important;
      }

      .card-body {
        position: relative;
        width: 50%;
        float: left;
        padding: 48px 40px 10px;

        .desc {
          position: static;
          font-size: 18px;
          line-height: 24px;

          .badge-list {
            right: 16px;
            top: 16px;
          }
        }

        .title {
          font-size: 32px;
          line-height: 36px;
          margin-bottom: 24px;
        }

        .title-sm {
          font-size: 16px;
          margin-bottom: 15px;
        }

        .desc-sm {
          font-size: 16px;
        }
      }
    }
  }
}

/* 평점이 있는 리스트 */
.tag-list {
  margin-bottom: 46px;

  .card-item {
    border-radius: 8px;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin-bottom: 14px;
    padding-bottom: 0;
    padding-top: 3px;

    a {
      display: block;
    }

    .img {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0;
      }

      .sticker-top {
        position: absolute;
        top: -6px;
        right: 6px;

        i {
          display: inline-block;
        }
      }

      .sticker-discount {
        position: absolute;
        background-image: url("../img/common/icon-list-badge-discount-percent@2x.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        width: 54px;
        height: 36px;
        bottom: 6px;
        right: -5px;

        span {
          display: block;
          font-size: 16px;
          text-align: center;
          color: #fff;
          font-weight: bold;
          line-height: 36px;
          padding-top: 3px;
          padding-left: 4px;

          .percent {
            font-weight: bold;
            font-style: normal;
            font-size: 12px;
          }
        }
      }

      .sticker-free {
        position: absolute;
        display: block;
        bottom: 6px;
        right: -4px;

        i {
          width: 54px;
          height: 36px;
        }
      }
    }

    .list-body {
      position: relative;
      padding-top: 8px;
      padding-bottom: 12px;
      min-height: 87px;

      .title {
        width: 100%;
        display: block;
        height: 40px;
        padding: 0 14px;
        font-weight: bold;
        line-height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        margin-bottom: 8px;
      }

      .score {
        padding: 0 14px;

        i {
          margin-right: 4px;
          transform: translateY(-1px);
        }
      }

      .s-sticker {
        display: block;
        position: absolute;
        bottom: 12px;
        right: 14px;
      }
    }
  }

  &.tag-list-all {
    .card-list {
      .card-item {
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}
  /* 769~960 겹침 대응 */
@media (min-width: 769px) and (max-width: 960px) {
  .tag-list {
    .card-list {
      &.card-list-rem-2 {
        .card-item {
          &:nth-child(2n) {
            margin-right: 12px !important;
          }
        }
      }
      &.card-list-md-5 {
        .card-item {
          width: calc(20% - 12px) !important;
          margin-right: 12px !important;
          &:nth-child(2n) {
            margin-right: 12px !important;
          }
        }
      }
      .card-item {
        .s-sticker {
          bottom: 16px !important;

          i {
            width: 48px !important;
            height: 18px !important;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up($size-tablet) {
  .tag-list {
    margin-bottom: 0;

    .card-list {
      .card-item {
        padding-top: 0;
        margin-bottom: 46px;
        padding-bottom: 0 !important;

        &:nth-child(5n) {
          margin-right: 0 !important;
        }

        .img {
          overflow: visible !important;

          .sticker-top {
            right: 0;

            i {
              margin-left: -12px;
            }

            .icon-list-badge-homelearn {
              width: 80px;
              height: 24px;
            }

            .icon-list-badge-package {
              width: 64px;
              height: 24px;
            }
          }

          .sticker-discount {
            width: 76px;
            height: 48px;
            right: -7px;

            span {
              font-size: 20px;
              line-height: 48px;

              .percent {
                font-size: 16px;
              }
            }
          }

          .sticker-free {
            right: -6px;

            i {
              width: 76px;
              height: 48px;
            }
          }
        }

        .list-body {
          .title {
            font-size: 16px;
            line-height: 22px;
            height: 44px;
          }

          .score {
            font-size: 14px;

            i {
              width: 24px;
              height: 24px;
              margin-right: 2px;
            }
          }

          .s-sticker {
            i {
              width: 62px;
              height: 24px;
            }
          }
        }
      }
    }
    .more-btn {
      margin-bottom: 72px;
    }
  }
}


/*edu-item*/
.edu-item-list {
  position: relative;
  padding: 14px 0;
  border-bottom: 2px solid rgba(224, 224, 224, 0.5);;

  &.first {
    padding: 0;

    a {
      .img {
        position: relative;
        width: 100%;
        height: 100%;
        top: auto;
        left: auto;

        .sticker-num {
          width: 32px;
          height: 32px;

          span {
            font-size: 20px;
            line-height: 32px;
          }
        }

        .sticker-top {
          position: absolute;
          top: -6px;
          right: 6px;

          i {
            display: inline-block;
          }
        }

        .sticker-discount {
          position: absolute;
          background-image: url("../img/common/icon-list-badge-discount-percent@2x.png");
          background-size: cover;
          background-repeat: no-repeat;
          display: block;
          width: 54px;
          height: 36px;
          bottom: 6px;
          right: -5px;

          span {
            display: block;
            font-size: 16px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            line-height: 36px;
            padding-top: 3px;
            padding-left: 4px;

            .percent {
              font-weight: bold;
              font-style: normal;
              font-size: 12px;
            }
          }
        }
      }

      .list-body {
        padding-top: 8px;
        padding-bottom: 14px;
        padding-left: 0;

        .title {
          margin-bottom: 8px;
        }

        .score {
          color: #666;
        }

        .s-sticker {
          bottom: 12px;
          right: 14px;
        }
      }
    }
  }

  a {
    display: block;

    .img {
      position: absolute;
      width: 80px;
      height: 80px;
      display: inline-block;
      left: 0;
      top: 15px;

      img {
        width: 100%;
        height: 100%;
      }

      .sticker-num {
        position: absolute;
        top: -6px;
        left: -6px;
        width: 22px;
        height: 22px;
        border-radius: 4px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
        background-color: #ff7600;

        span {
          display: block;
          font-size: 16px;
          font-weight: bold;
          line-height: 22px;
          text-align: center;
          color: #ffffff;
        }
      }
    }

    .list-body {
      position: relative;
      width: 100%;
      display: inline-block;
      padding-left: 83px;

      .sticker-area {
        padding-left: 9px;
        margin-bottom: 2px;

        > div {
          display: inline-block;
        }

        .sticker-homerun {
          width: 56px;
          height: 18px;
        }

        .sticker-package {
          width: 42px;
          height: 18px;
        }

        .sticker-free {
          width: 38px;
          height: 18px;
        }

        .sticker-discount-sm {
          display: inline-block;
          background-image: url("../img/common/icon-list-discount@3x.png");
          background-size: cover;
          background-repeat: no-repeat;
          width: 32px;
          height: 18px;

          span {
            display: block;
            font-size: 12px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            line-height: 18px;

            .percent {
              font-weight: bold;
              font-style: normal;
              font-size: 9px;
            }
          }
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .title {
        width: 100%;
        display: block;
        height: 44px;
        padding: 0 8px;
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
      }

      .score {
        padding: 0 4px;
        color: #999;

        i {
          margin-right: 4px;
          transform: translateY(-1px);
        }
      }

      .s-sticker {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
@include media-breakpoint-up($size-tablet) {
  .edu-item-list {
    position: relative;
    padding: 15px 0;
    border-bottom: 0 none;
    float: left;
    width: 314px;
    margin-right: 18px;

    &.first {
      position: absolute;
      top: 40px;
      left: 0;
      width: 370px;

      a {
        .img {
          position: relative;
          width: 100%;
          height: 100%;
          top: auto;
          left: auto;

          .sticker-num {
            width: 32px;
            height: 32px;

            span {
              font-size: 20px;
              line-height: 32px;
            }
          }

          .sticker-top {
            position: absolute;
            top: -6px;
            right: 6px;

            i {
              display: inline-block;
            }
          }

          .sticker-discount {
            position: absolute;
            background-image: url("../img/common/icon-list-badge-discount-percent@2x.png");
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            width: 54px;
            height: 36px;
            bottom: 6px;
            right: -5px;

            span {
              display: block;
              font-size: 16px;
              text-align: center;
              color: #fff;
              font-weight: bold;
              line-height: 36px;
              padding-top: 3px;
              padding-left: 4px;

              .percent {
                font-weight: bold;
                font-style: normal;
                font-size: 12px;
              }
            }
          }
        }

        .list-body {
          padding-top: 8px;
          padding-bottom: 14px;
          padding-left: 0;

          .title {
            margin-bottom: 8px;
          }

          .score {
            color: #666;
          }

          .s-sticker {
            bottom: 12px;
            right: 14px;
          }
        }
      }
    }

    a {
      display: block;

      .img {
        position: absolute;
        width: 80px;
        height: 80px;
        display: inline-block;
        left: 0;
        top: 15px;

        img {
          width: 100%;
          height: 100%;
        }

        .sticker-num {
          position: absolute;
          top: -6px;
          left: -6px;
          width: 22px;
          height: 22px;
          border-radius: 4px;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
          background-color: #ff7600;

          span {
            display: block;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
            text-align: center;
            color: #ffffff;
          }
        }
      }

      .list-body {
        position: relative;
        width: 100%;
        display: inline-block;
        padding-left: 83px;

        .sticker-area {
          padding-left: 9px;
          margin-bottom: 2px;

          > div {
            display: inline-block;
          }

          .sticker-homerun {
            width: 56px;
            height: 18px;
          }

          .sticker-package {
            width: 42px;
            height: 18px;
          }

          .sticker-free {
            width: 38px;
            height: 18px;
          }

          .sticker-discount-sm {
            display: inline-block;
            background-image: url("../img/common/icon-list-discount@3x.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 32px;
            height: 18px;

            span {
              display: block;
              font-size: 12px;
              text-align: center;
              color: #fff;
              font-weight: bold;
              line-height: 18px;

              .percent {
                font-weight: bold;
                font-style: normal;
                font-size: 9px;
              }
            }
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        .title {
          width: 100%;
          display: block;
          height: 44px;
          padding: 0 8px;
          font-size: 16px;
          font-weight: bold;
          line-height: 22px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          word-wrap: break-word;
        }

        .score {
          padding: 0 4px;
          color: #999;

          i {
            margin-right: 4px;
            transform: translateY(-1px);
          }
        }

        .s-sticker {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

/* 검색창 */
.search-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100;
  border-radius: 0;
  overflow: auto;
  .input-group {
    height: 60px;
    padding-left: 12px;
    border-bottom: 2px solid rgba(224, 224, 224, 0.6);
    .btn-back {
      width: 32px;
      height: 32px;
      margin-top: 14px;
      display: inline-block;
    }
    .form-control {
      border: 0;
      height: 58px;
      line-height: 61px;
      padding: 0 70px 0 12px;
      background-color: transparent;
      &::placeholder,
      &:-moz-placeholder,
      &:-ms-input-placeholder,
      &::-webkit-input-placeholder,
      &::-ms-input-placeholder,  {
        color: #bbbbbb;
      }
    }
    .btn-search-close {
      display: block;
      position: absolute;
      right: 52px;
      top: 20px;
      z-index: 111;
    }
    .btn-search {
      width: 32px;
      height: 32px;
      right: 12px;
      top: 14px;
      &:hover {
        background-color: transparent;
      }
    }
  }
  .search-content {
    position: relative;
    text-align: left;
    margin: 0 20px;
    padding: 10px 0 0;
    .search-list {
      > p {
        padding-top: 6px;
        padding-bottom: 8px;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        color: #999999;
      }
      li {
        position: relative;
        display: flex;
        align-items: center;
        padding: 5px 74px 5px 36px;
        margin-bottom: 4px;
        .item-1 {
          display: inline-block;
          .img {
            position: absolute;
            top: 5px;
            left: 0;
            display: inline-block;
            width: 24px;
            height: 24px;
          }
          .text {
            display: inline-block;
            vertical-align: middle;
            line-height: 20px;
            font-size: 14px;
            .highlight {
              color: $secondary;
            }
          }
        }
        .item-2 {
          position: absolute;
          right: 0;
          top: 7px;
          .date {
            display: inline-block;
            vertical-align: top;
            line-height: 20px;
            font-size: 14px;
            color: #999999;
          }
          a {
            display: inline-block;
            margin-left: 12px;
            transform: translateY(-2px);
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .empty {
        margin-top: 52px;
        .img {
          width: 80px;
          height: 80px;
          margin: 0 auto 12px;
        }
        .desc {
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          color: #666666;
        }
      }
    }
  }
}
@include media-breakpoint-up($size-tablet) {
  .search-box {
    position: static;
    margin: 20px;
    background: transparent;
    border-radius: 33px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.12);

    .input-group {
      background-color: #fff;
      .form-control {
        font-size: 20px;
      }
      .btn-back {
        width: 36px;
        height: 36px;
        margin-top: 12px;
      }
      .btn-search {
        width: 36px;
        height: 36px;
        top: 12px;
      }
    }
    .search-content {
      margin: 0;
      padding: 18px 42px 18px 42px;
      background-color: rgba(255, 255, 255, 0.96);
      .search-list {
        > p {
          font-size: 16px;
          padding-bottom: 15px;
        }
        li {
          margin-bottom: 14px;
          .item-1 {
            .text {
              font-size: 18px;
            }
          }
          .item-2 {
            .date {
              font-size: 18px;
              line-height: 22px;
            }
            a {
              transform: translateY(-1px);
            }
          }
        }
        .empty {
          margin-top: 40px;
          .img {
            width: 120px;
            height: 120px;
          }
          .desc {
            font-size: 18px;
            line-height: 48px;
            color: #999999;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}



/*
  언어 설정하기 팝업
*/
.common-lang-setting {
  padding: 0 !important;

  .modal-dialog {
    width: 100%;
    max-width: 630px;
    display: flex;
    align-items: flex-end;
    height: 640px;
    min-height: 100%;
    margin: 0 auto;

    .modal-content {
      -webkit-border-radius: 12px 12px 0 0;
      -moz-border-radius: 12px 12px 0 0;
      border-radius: 12px 12px 0 0;
      padding: 18px 24px;

      .modal-head {
        border-bottom: 2px solid rgba(224, 224, 224, 0.6);
        margin-left: -24px;
        margin-right: -24px;

        .title {
          font-size: 20px;
          font-weight: bold;
          line-height: 1.2;
          text-align: center;
          color: #333333;
          margin-bottom: 16px;
        }
      }

      .modal-body {
        text-align: left;
        .lang-list {
          li.custom-radio {
            display: flex;
            padding: 12px 0 13px 0;
            align-items: center;
            margin-right: 0 !important;
            border-bottom: 1px solid rgba(224,224,224,0.4);

            .custom-control-label {
              width: calc(100% - 34px);
            }
            .custom-control-label::before {
              left: auto;
              top: 0;
              right: 0;
            }
            .custom-control-label::after {
              width: 14px;
              height: 14px;
              left: auto;
              right: 6px;
              top: 6px;
            }
            .custom-control-input:checked ~ .custom-control-label::before {
              left: auto;
              right: 0;
            }
            .custom-control-input:checked ~ .custom-control-label::after {
              left: auto;
              right: 6px;
            }
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up($size-tablet) {
  .common-lang-setting {
    padding: 0 !important;

    .modal-dialog {
      align-items: center;
      max-width: 640px;
      .modal-content {
        border-radius: 12px;
        padding: 30px;

        .modal-head {
          border-bottom: 2px solid rgba(224, 224, 224, 0.6);
          margin-left: -30px;
          margin-right: -30px;

          .title {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 24px;
          }
        }

        .modal-body {
          margin-bottom: 60px;
          .lang-list {
            li.custom-radio {
              padding: 18px 0;
              .custom-control-input:checked ~ .custom-control-label::after {
                left: auto;
                right: 7px;
                top: 7px;
              }
            }
          }
        }
      }
    }
  }
}

/*  검색결과  */
.search-result {
  .top-area {
    height: auto;
    .text {
      margin-bottom: 16px;
      text-align: center;
    }
    .tab-order {
      position: static;
      ul {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .empty {
    padding-top: 36px;
    padding-bottom: 20px;
    .img {
      width: 80px;
      height: 80px;
      margin: 0 auto 12px;
    }
    .desc {
      font-size: 16px;
      line-height: 20px;
      color: #666666;
      text-align: center;
      margin-bottom: 12px;
    }
    .dot-list {
      width: 286px;
      margin: 0 auto;
      li {
        position: relative;
        display: block;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 6px;
        color: #666666;
        padding-left: 20px;

        &::before {
          content: '';
          position: absolute;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #666666;
          left: 5px;
          top: 8px;
        }
      }
    }
  }
}
@include media-breakpoint-up($size-tablet) {
  .search-result {
    .top-area {
      height: auto;
      .text {
        width: calc(100% - 107px);
        margin-bottom: 0;
        text-align: left;
      }
      .tab-order {
        position: absolute;
        right: 0;
        ul {
          display: initial;
          justify-content: initial;
        }
      }
    }
    .empty {
      padding-top: 100px;
      padding-bottom: 74px;

      .img {
        width: 120px;
        height: 120px;
        margin: 0 auto 16px;
      }
      .desc {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 10px;
      }
      .dot-list {
        width: 371px;
        li {
          font-size: 18px;
          line-height: 27px;
          margin-bottom: 0;
          &::before {
            top: 11px;
          }
        }
      }
    }
  }
}

/*
  태그 알림 팝업
*/
.tag-notice-setting {
  padding: 0 !important;

  .modal-dialog {
    width: 100%;
    max-width: 630px;
    display: flex;
    align-items: flex-end;
    height: 640px;
    min-height: 100%;
    margin: 0 auto;

    .modal-content {
      -webkit-border-radius: 12px 12px 0 0;
      -moz-border-radius: 12px 12px 0 0;
      border-radius: 12px 12px 0 0;
      padding: 18px 0;

      .modal-head {
        border-bottom: 2px solid rgba(224, 224, 224, 0.6);

        .title {
          font-size: 20px;
          font-weight: bold;
          line-height: 1.2;
          text-align: center;
          color: #333333;
          margin-bottom: 16px;
        }
      }

      .modal-body {
        text-align: left;
        overflow-y: auto;
        height: 318px;
        padding: 0 20px;
        margin-bottom: 0;

        .tag-notice-list {
          li {
            position: relative;
            display: flex;
            padding: 20px 0;
            align-items: center;
            margin-right: 0 !important;
            border-bottom: 1px solid rgba(224,224,224,0.4);
            .title {
              font-size: 15px;
              font-weight: bold;
              line-height: 1.33;
              color: $secondary;
            }
            .btn {
              position: absolute;
              right: 0;
              top: 13px;
            }

            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
      .modal-footer {
        position: relative;
        padding: 24px 18px 0;
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 8px;
          left: 0;
          top: 0;
          opacity: 0.05;
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
        }
      }
    }
  }
}
@include media-breakpoint-up($size-tablet) {
  .tag-notice-setting {
    padding: 0 !important;

    .modal-dialog {
      align-items: center;
      max-width: 640px;
      .modal-content {
        border-radius: 12px;
        padding: 30px 0;

        .modal-head {
          border-bottom: 2px solid rgba(224, 224, 224, 0.6);

          .title {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 24px;
          }
        }

        .modal-body {
          height: 262px;
          padding: 0 30px;

          .tag-notice-list {
            li {
              padding: 22px 24px;
              .title {
                font-size: 18px;
                line-height: 28px;
              }
              .btn {
                position: absolute;
                right: 24px;
                top: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
        .modal-footer {
          padding: 24px 28px 0;
        }
      }
    }
  }
}
